body {
    font-family: 'Playpen Sans', cursive;
    background-color: #f0f0f052;
    margin: 0;
    padding: 0;
}
p{
 font-family: Arial, Helvetica, sans-serif;
}
/* Estilos para el menú horizontal */
nav {
    background-color: #ad7cbb;
    border-radius: 10px;
    /* Bordes redondos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
    text-align: center;
    /* Centra horizontalmente el menú */
    position: relative;
    overflow: hidden;
    z-index: 999; /* Asegura que esté en la parte superior */

}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('fondo.jpg');
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    font-size: medium;
    font-family: 'Playpen Sans', cursive;
    height: 150px;
}

/* Estilos para el menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        text-align: left;
        /* Alinea el menú a la izquierda en pantallas pequeñas */
    }
}


/* Estilos para el logo */
.logo img {
    max-width: 200px;
    /* Ajusta el tamaño del logo según tus preferencias */
}


/* Estilos para centrar horizontalmente los elementos <li> */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los elementos <li> */
.nav-item {
    padding: 0 30px;
    /* Espacio horizontal entre elementos <li> */

}


main {
    background-color: #fff;
    height: 100%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}


#video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
    /* Agregando un color de fondo para ver el contenedor del video claramente */
}

.video-container {
    position: relative;
    width: 70%;
    max-width: 600px;
    /* Limita el ancho máximo del contenedor para que no se desborde en ventanas pequeñas */
   
}

.video-container iframe {
    width: 450px;
    height: 300px;
    border: 2px solid #eac6f8;
     /* Ajusta el ancho máximo para pantallas pequeñas */
     @media (max-width: 768px) {
        max-width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
    }
}


/* Estilos para la sección "Sobre Nosotros" */
#sobre-nosotros {
    padding: 20px;
}


/* Estilos para todas las secciones */
.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion {
    background-color: #fff;
    text-align: justify;
    /* Alineación del texto */
    margin-bottom: 20px;
    /* Espacio entre secciones */
   
}

.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion h2 {
    color: #333;
    font-size: 40px;
    font-family: 'Playpen Sans', cursive;
}

.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion p {
    margin-bottom: 10px;
    font-size: 18px;
}

.historia,.filosofia,
.excelencia,
.futuro {
    display: flex;
    /* Coloca los elementos uno al lado del otro */
    align-items: center;
    /* Alinea los elementos verticalmente en el centro */
}

.excelencia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.historia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.filosofia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.futuro .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}


@media (max-width: 768px) {
    .historia,.filosofia,
    .excelencia,
    .futuro {
        flex-direction: column;
   
}
    #sobre-nosotros {
        padding: 10px; /* Reduce el espacio entre elementos en pantallas pequeñas */
    }
    
    #sobre-nosotros .foto {
        width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
        max-width: 50%; /* Puedes ajustar el tamaño máximo según tus necesidades */
        margin-bottom: 10px; /* Reduce el espacio entre la imagen y el texto */
    }
    
    #sobre-nosotros h2 {
        font-size: 20px; /* Reduce el tamaño del título h2 en pantallas pequeñas */
    }
    
    #sobre-nosotros p {
        font-size: 14px; /* Reduce el tamaño del párrafo en pantallas pequeñas */
    }
}

aside {
    float: left;
    min-width: 150px; /* Establece un ancho mínimo para evitar que sea demasiado estrecho */
    width: auto; /* Permite que el ancho se ajuste según el contenido */
    color: #fff;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}


#redes-sociales img,
#contacto img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* estilos para clases */
/* Puedes adaptar estos estilos según la estructura actual de tu página */

.elemento {
    font-family: 'Playpen Sans', cursive;
    display: inline-block;
    width: 250px; /* Ancho del círculo */
    height: 250px; /* Altura del círculo */
    line-height: 200px; /* Centra el texto verticalmente */
    border-radius: 50%;
    background-color: #d3d3d3;
    color: #734a99;
    font-size: 22px;
    cursor: pointer;
    transition: font-size 0.3s, color 0.3s;
    text-align: center; /* Centra el texto horizontalmente */
    margin-right: 20px; /* Espacio entre los círculos */
    border: 8px solid #504e50; /* Borde lila claro */
  }
  
  .elemento:hover {
    font-size: 28px; /* Aumenta el tamaño del texto al pasar el ratón */
    color: #010001; /* Color de texto lila */
    background-color: #817b7b; /* Gris claro */
    border: 8px solid #ae71e7; /* Borde lila claro */
  }
  #cont{
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  
  
  