body {
    font-family: 'Playpen Sans', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.padre {
    color: #fff;
    font-size: x-large;
    font-family: 'Playpen Sans', cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    padding: 10px;
}
.menu-container {
    display: flex;
    align-items: center;
    /* Fondo del menú */
    margin-right: 300px;
    background-color: #a07ac6;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade una sombra alrededor del contenedor */
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
   
}


.menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra los elementos del menú horizontalmente */
    padding: 10px;
    /* Espaciado dentro del menú */
}

.menu li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    background-color: #fff;
    height: 100%;
    text-align: center;
    max-width: 100%;
    /* Establece un ancho máximo del 100% del ancho de la ventana del navegador */
    margin: 0 auto;
    /* Centra el contenido en la ventana */
 font-family: Arial, sans-serif;
}



/* Estilos para el video */
#video {
    width: 400px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 10%;

}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #D3B3E0;
    /* Lila claro */
}

/* Estilos para la sección "Sobre Nosotros" */
#sobre-nosotros {
    padding: 20px;
}

/* Estilos para todas las secciones */
.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion {
    background-color: #fff;
    padding: 60px;
    border: 1px solid #ddd;
    text-align: center;
    /* Alineación del texto */
    margin-bottom: 20px;
    /* Espacio entre secciones */
}

.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion h2 {
    color: #333;
    font-size: 40px;
    font-family: 'Playpen Sans', cursive;
}

.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion p {
    margin-bottom: 10px;
    font-size: 18px;
}

aside {
    float: left;
    width: 150px;
    color: #fff;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

#redes-sociales img,
#contacto img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Estilos para el menú desplegable */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    margin: 10px 0;
}

#menu-toggle {
    display: none; /* Ocultar inicialmente */
    cursor: pointer;
}

/* Estilos para el botón de menú */
.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

/* Estilos para el menú desplegable visible */
nav.open {
    display: block;
}

nav.open #menu-toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

nav.open #menu-toggle .bar:nth-child(2) {
    opacity: 0;
}

nav.open #menu-toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    /* Agrega estilos específicos aquí */
}
