body {
    font-family: 'Playpen Sans', cursive;
    background-color: #f0f0f052;
    margin: 0;
    padding: 0;
}
p{
 font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-family: 'Playpen Sans', cursive;
    height: 150px;
}

/* Estilos para el menú horizontal */
nav {
    background-color: #C484AC;
    border-radius: 10px;
    /* Bordes redondos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
    text-align: center;
    /* Centra horizontalmente el menú */
    position: relative;
    overflow: hidden;
    z-index: 999; /* Asegura que esté en la parte superior */

}
/* Estilos para centrar horizontalmente los elementos <li> */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Estilos para los elementos <li> */
.nav-item {
    padding: 0 20px;
    
    /* Espacio horizontal entre elementos <li> */

}

/* Estilos para el menú desplegable en pantallas pequeñas */
@media (max-width: 990px) {
    nav {
        width: 110px !important;
        margin-right: 0 !important;
        padding: 0 0px !important;
    }
    .nav-item {
        padding: 0 0px !important;
    }
    .logo img {
        margin: 0;
      
    }
}

main {
    background-color: #fff;
    height: 100%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}


#video {
    position: relative;
    overflow: hidden;
}

#video video,
#video iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: none; /* Elimina el límite de ancho máximo */
    background-color: #f0f0f0;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 2px solid #eac6f8;
     /* Ajusta el ancho máximo para pantallas pequeñas */
     @media (max-width: 768px) {
        max-width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
    }
}


/* Estilos para la sección "Sobre Nosotros" */
#sobre-nosotros {
    padding: 20px;
}


/* Estilos para todas las secciones */
.historia,
.filosofia,
.excelencia,
.futuro,
.ubicacion {
    background-color: #fff;
    text-align: justify;
    /* Alineación del texto */
    margin-bottom: 20px;
    /* Espacio entre secciones */
   
}


.historia h2,
.filosofia h2,
.excelencia h2,
.futuro h2,
.ubicacion h2 {
    color: #A65189;
    font-size: 35px;
    font-family: 'Playpen Sans', cursive;
    text-shadow: 1px 2px 3px rgb(116, 116, 116);
}


.historia p,
.filosofia p,
.excelencia p,
.futuro p,
.ubicacion p {
    margin-bottom: 10px;
    font-size: 18px;
  
}

.historia,.filosofia,
.excelencia,
.futuro {
    display: flex;
    /* Coloca los elementos uno al lado del otro */
    align-items: center;
    /* Alinea los elementos verticalmente en el centro */
}

.excelencia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.historia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.filosofia .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}
.futuro .foto {
    width: 70%;
    /* Divide el espacio en dos para la imagen y el texto */
    padding-right: 20px;
    /* Agrega espacio entre la imagen y el texto */
}

.texto{
    margin: 40px;
}
@media (max-width: 768px) {
    .historia,.filosofia,
    .excelencia,
    .futuro {
        flex-direction: column;
   
}
    #sobre-nosotros {
        padding: 10px; /* Reduce el espacio entre elementos en pantallas pequeñas */
    }
    
    #sobre-nosotros .foto {
        width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
        max-width: 50%; /* Puedes ajustar el tamaño máximo según tus necesidades */
        margin-bottom: 10px; /* Reduce el espacio entre la imagen y el texto */
    }
    
    #sobre-nosotros h2 {
        font-size: 20px; /* Reduce el tamaño del título h2 en pantallas pequeñas */
    }
    
    #sobre-nosotros p {
        font-size: 14px; /* Reduce el tamaño del párrafo en pantallas pequeñas */
    }
}


aside {
    float:left;
    min-width: 10px; /* Establece un ancho mínimo para evitar que sea demasiado estrecho */
    width: auto; /* Permite que el ancho se ajuste según el contenido */
    color: #fff;
    position: fixed;
    right: 3px;
    bottom: 3px;
    transform: translateY(-50%);
    padding: 5px;
}


#redes-sociales img,
#contacto img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* estilos para clases */
/* Puedes adaptar estos estilos según la estructura actual de tu página */

.elemento {
    font-family: 'Playpen Sans', cursive;
    display: inline-block;
    width: 250px; /* Ancho del círculo */
    height: 200px; /* Altura del círculo */
    line-height: 200px; /* Centra el texto verticalmente */
    border-radius: 50%;
    background-color:  #504e50;
    color: #f5b3df;
    font-size: 22px;
    cursor: pointer;
    transition: font-size 0.3s, color 0.3s;
    text-align: center; /* Centra el texto horizontalmente */
    margin-right: 20px; /* Espacio entre los círculos */
    border: 8px solid #d3d3d3; /* Borde lila claro */
  }
  
  .elemento:hover {
    font-size: 28px; /* Aumenta el tamaño del texto al pasar el ratón */
    color: #010001; /* Color de texto lila */
    background-color: #817b7b; /* Gris claro */
    border: 8px solid  #f5b3df; /* Borde lila claro */
  }
  #cont{
    padding-top: 80px;
    padding-bottom: 200px;
  }
  #ojo{
    font-family: 'Rajdhani', sans-serif;
    padding-top: 20px;
    animation: grande 3s ;
  }
  
  @keyframes grande {
    to{
        font-size: 50px;
    }
    
  }

  
  /*ESTILO PAGINA NOTICIAS*/
  #container{
    position: relative;
    margin-bottom: 20px;
  }
  #container h1{
    color: #A65189;
    font-size: 35px;
    font-family: 'Playpen Sans', cursive;
    text-shadow: 1px 2px 3px rgb(116, 116, 116);
    margin: 10px;
    padding: 20px;
    
 
  }
  .noticia{
    background-color: rgba(210, 234, 250, 0.301);
    padding: 10px;
    width: 70%;
    margin: auto;
  
  }
  .noticia p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
    margin: 20px;
    
  }
  .noticia h2{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    display: inline-block;
    margin: 20px;
    
  }
  .noticia h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#A65189; /* Color de la línea */
    animation: expandLine 1s forwards; /* Nombre de la animación y duración */
  }

  @keyframes expandLine {
    to {
      width: 100%; /* Ancho completo al final de la animación */
    }
}
  .noticia a{
    background-color: #C484AC;
    color: #010001;
    border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
    padding: 10px 20px;
    font-family: 'Playpen Sans', cursive;
  }
  .like-button {
    cursor: pointer;
    margin-left: 10px;
  
  }
  #likes-list {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el espacio de relleno predeterminado en la lista */
  }

  #likes-list li {
    margin-bottom: 5px; /* Espaciado entre elementos de lista */
  }

   
  /*ESTILO PAGINA MAIL*/
   /*ESTILO PAGINA FESTIVAL*/

  
   .festival{
    background-color: rgba(210, 234, 250, 0.301);
    padding: 10px;
    width: 70%;
    margin: auto;
  
  }
  .festival p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
    margin: 20px;
    
  }
  .festival h2{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    display:flexbox;
    margin: 20px;
    
  }
  .festival h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#A65189; /* Color de la línea */
    animation: expandLine 1s forwards; /* Nombre de la animación y duración */
  }

  @keyframes expandLine {
    to {
      width: 100%; /* Ancho completo al final de la animación */
    }
}

